<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Création d'un joueur</title>
    </head>
    <body>
        <form th:action="@{/player/create}" method="POST" th:object="${playerForm}">
            <p>First name<input type="text" th:field="*{firstName}"/></p>
            <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
            <p>Last name<input type="text" th:field="*{lastName}"/></p>
            <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
            <p>Nationality<input type="text" th:field="*{nationality}"/></p>
            <div th:if="${#fields.hasErrors('nationality')}" th:errors="*{nationality}"></div>
            <p>Birthday<input type="date" th:field="*{birthday}"/></p>
            <div th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></div>
            <p>Position<input type="text" th:field="*{position}"/></p>
            <div th:if="${#fields.hasErrors('position')}" th:errors="*{position}"></div>
            <p>Shirt number<input type="number" th:field="*{shirtNumber}" min="0" step="1"/></p>
            <div th:if="${#fields.hasErrors('shirtNumber')}" th:errors="*{shirtNumber}"></div>
            <div></div>
            <input type="submit" value="Valider"/>
        </form>
    </body>
</html>